<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net472" />
  <package id="Fluent.Ribbon" version="8.0.3" targetFramework="net472" />
  <package id="HtmlEditorWPF" version="1.2.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="ReqIFSharp_PlusObjects" version="2.2.1" targetFramework="net472" />
  <package id="TinyHtml.Wpf" version="1.2.2" targetFramework="net472" />
</packages>